.form{

position: absolute;

top :30%;
right: 44%;
}
p{position: absolute;
top: 10%;
right: 43%;
font-size: 70px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#secondpara{


font-size: 13px;
position: absolute ;
top :95%;
right: 0%;

}
// #thirdpara{

// font-size: 20px;

// }
    